<div class="container">
  <div>
    <h1>Message Details</h2>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th colspan="2"></th>
      </tr>
      <tr>
        <td><%= @response.name %></td>
        <td><%= @response.mobile %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>