<header>
  <div class="header-wrapper">
    <div class="nav">
      <div class="nav-wrapper">
        # toggle icon
        <div>
        </div>
        # brand
        <div></div>
        # right links
        <div>

        </div>
      </div>
    </div>
  </div>
</header>