<main>
  <section id="details">
    <div class="container">
      <div class="dashboard">
        <div class="section-title">
          <span>Quick View</span>
        </div>
        <div class="section-details">
          <div class="card-wrapper">
            <div class="card">
              <h5 class="card-header">Total Forms</h5>
              <div class="card-body">
                <h5 class="card-title">3</h5>
                <div class="card-actions">
                  <a class="btn" href="/forms">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>